<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<form method="post" action="/user/add">
    <label>Username:</label>
        <input type="text" name="username">
    <br><label>Email:</label>
        <input type="email" name="email"></br>
    <br><label>Password:</label>
    <input type="password" name="password"></br>
    <br><label>Verify Password:</label>
    <input type="password" name="verify"></br>
    <br><input type="submit"></br>
</form>

</body>
</html>